AWS_ACCESS_KEY_ID=YOUR_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET=public-data-pipeline-yourname

OPENWEATHER_API_KEY=YOUR_OPENWEATHER_KEY
CITY=Chicago,US

RDS_HOST=your-rds-endpoint.rds.amazonaws.com
RDS_PORT=5432
RDS_DB=weatherdb
RDS_USER=postgres
RDS_PASSWORD=yourpassword
RDS_SSLMODE=require